/* -------------------------------------------------------------------------- */
/*                    ===Only Match Area Design CSS Here===                   */
/* -------------------------------------------------------------------------- */
.all-schedule {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 41px 20px;
}
.matches{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}
.match{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.match-details{
    text-align: center;
}
.country-flag{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center
}
.country-flag img{
    width: 40%
}

/* .match p{
    padding: 10px;
} */
/* -------------------------------------------------------------------------- */
/*                            ===All Country CSS===                           */
/* -------------------------------------------------------------------------- */
.all-country-flag img {
    width: 250px;
    height: 130px;
}
.flag-title{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* -------------------------------------------------------------------------- */
/*              ===@ Media Query Start For Only Match Section===              */
/* -------------------------------------------------------------------------- */

@media only screen and (max-width: 668px) {
    .all-schedule {
        grid-template-columns: 1fr;
    }
    .content-details {
        grid-row-gap: 60px;

    }
}

/* -------------------------------------------------------------------------- */
/*                      ===@Media Query For Tab Screen===                     */
/* -------------------------------------------------------------------------- */
@media only screen and (min-width: 669px) and (max-width: 990px) {
    .all-schedule {
        grid-template-columns: 1fr 1fr;
    }
}